/* la fuente de escritura:*/
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  flex-wrap: wrap;
  margin-top: 200px;
}

header {
  display: flex;
  width: 100%;
  height: 155px;
  background: white;
  color: gray;
  position: fixed;
  padding-left: 70px;
  top: 0;
  left: 0;
  z-index: 100;
}

.cont-btn {
  display: flex;
  width: 350px;
  height: auto;
  justify-content: space-between;
  
}

.btn {
  display: inline-block;
  width: 150px;
  height: 55px;
  color: #080808;
  font-weight: bold;
  background: rgb(231, 225, 225);
  border-radius: 10px;
}

.container {
  width: 98%;
  margin: auto;
}

.nav-logo {
  width: 200px;
}

.logo {
  width: 100px;
  height: 90px;
}

header label {
  float: right; /*ojo con el float*/
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

header .container {
  display: table;
}

#nav {
  width: 100vw;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  position: fixed;
  background: rgb(241, 234, 234);
  box-sizing: border-box;
  box-shadow: 0px 10px 5px 4px rgba(58, 38, 38, 0.5);
  top: 155px;
  z-index: 100;
}

.main-nav {
  list-style-type: none;
  display: none;
  justify-content: space-between;
}

.nav-links {
  text-decoration: none;
  color: rgba(63, 60, 60, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

.nav-links:active::before {
  background: rgb(26, 212, 150);
}

.kart {
  display: flex;

}

.kart p {
  width: 20px;
  height: 20px;
  font-size: 13px;
  align-items: center;
  text-align: center;
  margin-top: -15px;
  margin-left: -2px;
  border: 2px solid rgba(255, 163, 5, 1);
  border-radius: 50%;
  background: rgb(255, 163, 5);
  color: #fff;
}

.barra {
  background-color: rgb(94, 94, 90);
  width: auto;
  height: 5px;
}

#entrantes {
  background: rgb(241, 234, 234);
  padding: 25px;
}

#entrantes .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

#entrantes article {
  margin: 15px;
}
#entrantes img {
  width: 100%;
  max-width: 350px;
}

#entrantes h3,
p {
  margin: 20px 20px;
}

#entrantes button {
  margin: 20px 20px;
}

.btnEntrantes {
  text-decoration: none;
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fondo {
  background: #fff;
  box-sizing: border-box;
  transition: 0.4s;
}

.fondo:hover {
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(48, 47, 47, 0.6);
  border-radius: 5px;
}

.art {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.plus {
  color: orange;
  background: transparent;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(250, 157, 7, 0.7);
  border-radius: 50%;
}

#footer {
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 30px 20px;
}

.copy {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

.imgfoot {
  width: 95px;
  height: 45px;
  padding: 3px;
}

@media screen and (min-width: 768px) {
  #nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    margin-right: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    align-items: center;
    padding-top: 5px;
    border: 2px solid rgb(26, 212, 150);
    border-radius: 20px;
    background: transparent;
    color: rgb(26, 212, 150);
  }
  .logo {
    width: 155px;
    height: 95px;
  }
}
