<template>
  <div>
    <section id="arroces">
      <h1>Arroces y Cereales</h1>
      <b-container>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgArroz1" fluid alt="Responsive image"></b-img>
              <h3>Arroz 1:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgArroz2" fluid alt="Responsive image"></b-img>
              <h3>Arroz 2:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgArroz3" fluid alt="Responsive image"></b-img>
              <h3>Arroz 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgArroz1" fluid alt="Responsive image"></b-img>
              <h3>Arroz 4:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgArroz2" fluid alt="Responsive image"></b-img>
              <h3>Arroz 5:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgArroz3" fluid alt="Responsive image"></b-img>
              <h3>Arroz 6:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgCereal1" fluid alt="Responsive image"></b-img>
              <h3>Cereales 1:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgCereal2" fluid alt="Responsive image"></b-img>
              <h3>Cereales 2:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgCereal3" fluid alt="Responsive image"></b-img>
              <h3>Cereales 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgCereal1" fluid alt="Responsive image"></b-img>
              <h3>Cereales 4:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgCereal2" fluid alt="Responsive image"></b-img>
              <h3>Cereales 5:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgCereal3" fluid alt="Responsive image"></b-img>
              <h3>Cereales 6:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgArroz1: "./src/assets/arroz1.jpg",
      imgArroz2: "./src/assets/arroz2.jpg",
      imgArroz3: "./src/assets/arroz3.jpg",
      imgCereal1: "./src/assets/cereales1.jpg",
      imgCereal2: "./src/assets/cereales2.jpg",
      imgCereal3: "./src/assets/cereales3.jpg",

      counter: 0,
      cart: 1,
      totalEat: document.getElementById("sum")
    };
  },
  methods: {
    add: function() {
      this.counter++;
    },

    addEat: function() {
      document.getElementById("add").innerHTML = "+";
      // console.log(this.cart)
      this.totalEat = this.cart++;
      console.log(this.totalEat);
      document.getElementById("sum").innerHTML = this.totalEat;
    }
  }
};
</script>

<style scoped>
#arroces {
  background: rgb(241, 234, 234);
  padding: 25px;
}

#arroces h1 {
  padding-top: 150px;
}

#arroces .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#arroces article {
  margin: 15px;
}
#arroces img {
  width: 350px;
  height: 250px;
}

#arroces h3,
p {
  margin: 20px 20px;
}

#arroces button {
  margin: 20px 20px;
}

.fondo {
  background: #fff;
  box-sizing: border-box;
  transition: 0.4s;
}

.fondo:hover {
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(48, 47, 47, 0.6);
  border-radius: 5px;
}

.art {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.plus {
  color: orange;
  background: transparent;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid rgba(250, 157, 7, 0.7);
  border-radius: 50%;
}
</style>
