<template>
  <div>
    <section id="cuchara">
      <h1>De Cuchara</h1>
      <b-container>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa1" fluid alt="Responsive image"></b-img>
              <h3>Sopa 1:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa2" fluid alt="Responsive image"></b-img>
              <h3>Sopa 2:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa3" fluid alt="Responsive image"></b-img>
              <h3>Sopa 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa3" fluid alt="Responsive image"></b-img>
              <h3>Sopa 4:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa1" fluid alt="Responsive image"></b-img>
              <h3>Sopa 5:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa2" fluid alt="Responsive image"></b-img>
              <h3>Sopa 6:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa3" fluid alt="Responsive image"></b-img>
              <h3>Sopa 7:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa2" fluid alt="Responsive image"></b-img>
              <h3>Sopa 8:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgSopa1" fluid alt="Responsive image"></b-img>
              <h3>Sopa 9:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col></b-col>
          <b-col></b-col>
          <b-col></b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgSopa1: "./src/assets/sopa1.jpg",
      imgSopa2: "./src/assets/sopa2.jpg",
      imgSopa3: "./src/assets/sopa3.jpg",

      counter: 0,
      cart: 1,
      totalEat: document.getElementById("sum")
    };
  },
  methods: {
    add: function() {
      this.counter++;
    },

    addEat: function() {
      document.getElementById("add").innerHTML = "+";
      // console.log(this.cart)
      this.totalEat = this.cart++;
      console.log(this.totalEat);
      document.getElementById("sum").innerHTML = this.totalEat;
    }
  }
};
</script>

<style scoped>
#cuchara {
  /* display:flex; */
  background: rgb(241, 234, 234);
  padding: 25px;
}

#cuchara h1 {
  padding-top: 150px;
}

#cuchara .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#cuchara article {
  margin: 15px;
}
#cuchara img {
  width: 350px;
  height: 250px;
}

#cuchara h3,
p {
  margin: 20px 20px;
}

#cuchara button {
  margin: 20px 20px;
}

.fondo {
  background: #fff;
  box-sizing: border-box;
  transition: 0.4s;
}

.fondo:hover {
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(48, 47, 47, 0.6);
  border-radius: 5px;
}

.art {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.plus {
  color: orange;
  background: transparent;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid rgba(250, 157, 7, 0.7);
  border-radius: 50%;
}
</style>
