<template>
  <div>
    <section id="ensaladas">
      <h1>Ensaladas y Zumos</h1>
      <b-container>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgEnsalada1" fluid alt="Responsive image"></b-img>
              <h3>Ensalada 1:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgEnsalada2" fluid alt="Responsive image"></b-img>
              <h3>Ensalada 2:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgEnsalada3" fluid alt="Responsive image"></b-img>
              <h3>Ensalada 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgZumo1" fluid alt="Responsive image"></b-img>
              <h3>Zumos 1:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgZumo2" fluid alt="Responsive image"></b-img>
              <h3>Zumos 2:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgZumo3" fluid alt="Responsive image"></b-img>
              <h3>Zumo 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgZumo3" fluid alt="Responsive image"></b-img>
              <h3>Zumo 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgZumo1" fluid alt="Responsive image"></b-img>
              <h3>Zumo 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgZumo2" fluid alt="Responsive image"></b-img>
              <h3>Zumo 3:</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <button id="add" class="plus" v-on:click="addEat">+</button>
              </div>
            </article>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgEnsalada1: "./src/assets/ensalada1.jpg",
      imgEnsalada2: "./src/assets/ensalada2.jpg",
      imgEnsalada3: "./src/assets/ensalada3.jpg",
      imgZumo1: "./src/assets/zumos1.jpg",
      imgZumo2: "./src/assets/zumos2.jpg",
      imgZumo3: "./src/assets/zumos3.jpg",

      counter: 0,
      cart: 1,
      totalEat: document.getElementById("sum")
    };
  },
  methods: {
    add: function() {
      this.counter++;
    },

    addEat: function() {
      document.getElementById("add").innerHTML = "+";
      // console.log(this.cart)
      this.totalEat = this.cart++;
      console.log(this.totalEat);
      document.getElementById("sum").innerHTML = this.totalEat;
    }
  }
};
</script>

<style scoped>
#ensaladas {
  background: rgb(241, 234, 234);
  padding: 25px;
}

#ensaladas h1 {
  padding-top: 150px;
}

#ensaladas .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#ensaladas article {
  margin: 15px;
}
#ensaladas img {
  width: 350px;
  height: 220px;
}

#ensaladas h3,
p {
  margin: 20px 20px;
}

#ensaladas button {
  margin: 20px 20px;
}

.fondo {
  background: #fff;
  box-sizing: border-box;
  transition: 0.4s;
}

.fondo:hover {
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(48, 47, 47, 0.6);
  border-radius: 5px;
}

.art {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.plus {
  color: orange;
  background: transparent;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid rgba(250, 157, 7, 0.7);
  border-radius: 50%;
}
</style>
