<template>
  <div>
    <section id="entrantes">
      <div>
        <h1>Entrantes</h1>
        <p class="barra"></p>
      </div>
      <b-container>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgEnsaladilla" fluid alt="Responsive image"></b-img>
              <h3>Ensaladilla Rusa</h3>
              <!-- <b-badge variant="success" class="bb">Nuevo</b-badge> -->
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgNigiri" fluid alt="Responsive image"></b-img>
              <h3>Nigiri Mix</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgWrap" fluid alt="Responsive image"></b-img>
              <h3>Wrap Cesar</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgQuinoa" fluid alt="Responsive image"></b-img>
              <h3>Ensalada Quinoa y Pollo</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgWrap" fluid alt="Responsive image"></b-img>
              <h3>Wrap Cesar</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgEnsaladilla" fluid alt="Responsive image"></b-img>
              <h3>Ensaladilla Rusa</h3>
              <!-- <b-badge variant="success" class="bb">Nuevo</b-badge> -->
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgQuinoa" fluid alt="Responsive image"></b-img>
              <h3>Ensalada Quinoa y Pollo</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgNigiri" fluid alt="Responsive image"></b-img>
              <h3>Nigiri Mix</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
          <b-col>
            <article class="fondo">
              <b-img v-bind:src="imgWrap" fluid alt="Responsive image"></b-img>
              <h3>Wrap Cesar</h3>
              <div class="art">
                <p>+ 0,50 €</p>
                <b-button id="add" class="plus" v-on:click="addEat">+</b-button>
              </div>
            </article>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgEnsaladilla: "./src/assets/apeteat_2017__ensaladilla_rusa.jpg",
      imgNigiri: "./src/assets/apeteat_2018_nigirimix.jpg",
      imgQuinoa: "./src/assets/apeteat_2019_ensaladaquinoachicken.jpg",
      imgWrap: "./src/assets/apeteat_2019_wrapcesar.jpg",

      counter: 0,
      cart: 1,
      totalEat: document.getElementById("sum")
    };
  },
  methods: {
    add: function() {
      this.counter++;
    },

    addEat: function() {
      document.getElementById("add").innerHTML = "+";
      // console.log(this.cart)
      this.totalEat = this.cart++;
      console.log(this.totalEat);
      document.getElementById("sum").innerHTML = this.totalEat;
    }
  }
};
</script>

<style scoped>
.barra {
  background-color: rgb(94, 94, 90);
  width: auto;
  height: 5px;
}

#entrantes {
  /* display:flex; */
  background: rgb(241, 234, 234);
  padding: 25px;
}

#entrantes h1 {
  padding-top: 150px;
}

#entrantes .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#entrantes article {
  margin: 15px;
}
#entrantes img {
  width: 100%;
  max-width: 350px;
}

#entrantes h3,
p {
  margin: 20px 20px;
}

#entrantes button {
  margin: 20px 20px;
}

.fondo {
  background: #fff;
  box-sizing: border-box;
  transition: 0.4s;
}

.fondo:hover {
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(48, 47, 47, 0.6);
  border-radius: 5px;
}

.art {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.plus {
  color: orange;
  background: transparent;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid rgba(250, 157, 7, 0.7);
  border-radius: 50%;
}
.bb {
  width: 55px;
  float: top;
}
</style>
