<template>
  <footer id="footer">
    <div>
      <!-- <img src="../assets/ico-visa.svg" alt="visa" /> -->
      <img v-bind:src="imagen1" />
      <img v-bind:src="imagen2" />
      <img v-bind:src="imagen3" />
      <img v-bind:src="imagen4" />
      <img v-bind:src="imagen5" />
    </div>
    <div>
      <p>{{ copyrigth }}</p>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      imagen1: "./src/assets/ico-visa.svg",
      imagen2: "./src/assets/ico-mastercard.svg",
      imagen3: "./src/assets/ico-sodexo.svg",
      imagen4: "./src/assets/ico-ticket-restaurant.svg",
      imagen5: "./src/assets/ico-cheque-dejeuner-1.svg",

      copyrigth: "Copyrigth ® 2019 apeteat | Todos los derechos regsitrados"
    };
  }
};
</script>

<style scoped>
#footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px;
  height: 50px;
}

img {
  width: 95px;
  height: 45px;
  padding: 5px;
  margin-bottom: 50px;
}
</style>