<template>
  <header id="header">
    <div>
      <b-img v-bind:src="imagenLogo" fluid alt="Responsive image"></b-img>
      <div class="cont-btn">
        <b-button class="btn">Menú Completo 9 €</b-button>
        <b-button class="btn">Medio Menú 6 €</b-button>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      imagenLogo: "./src/assets/logoA.svg"
    };
  }
};
</script>

<style scoped>
#header {
  display: flex;
  width: 100%;
  background: white;
  color: gray;
  position: fixed;
  padding-left: 70px;
  padding-bottom: 26px;
  top: 0;
  left: 0;
  z-index: 100;
}

img {
  margin: 10px;
  width: 100px;
  height: 50px;
}

.cont-btn {
  display: flex;
  width: 420px;
  height: auto;
  justify-content: space-around;
}

.btn {
  display: inline-block;
  width: 190px;
  height: 40px;
  color: #080808;
  font-weight: bold;
  font-size: 12px;
  background: rgb(241, 234, 234);
  border-radius: 10px;
  border: 1px solid rgb(241, 234, 234);
}
</style>