<template>
  <nav id="nav">
    <div>
      <ul class="main-nav">
        <router-link to="/" tag="li" active-class="active" exact>
          <a class="nav-links">Entrantes</a>
        </router-link>

        <router-link to="/cuchara" tag="li" active-class="active">
          <a class="nav-links">De cuchara</a>
        </router-link>

        <router-link to="/pasta" tag="li" active-class="active">
          <a class="nav-links">Pastas</a>
        </router-link>

        <router-link to="/arroces" tag="li" active-class="active">
          <a class="nav-links">Arroces y Cereales</a>
        </router-link>

        <router-link to="/ensaladas" tag="li" active-class="active">
          <a>Ensaladas y Zumos</a>
        </router-link>
      </ul>
    </div>
    <div class="kart">
      <img v-bind:src="imgKart" />
      <p id="sum"></p>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      imgKart: "./src/assets/shopping-cart.svg"
    };
  }
};
</script>

<style scoped>
#nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  width: 100vw;
  justify-content: space-around;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  background: rgb(241, 234, 234);
  box-sizing: border-box;
  box-shadow: 0px 10px 5px 4px rgba(58, 38, 38, 0.5);
  top: 118px;
  z-index: 100;
}

.main-nav {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.main-nav li a {
  color: #3C475B;
  text-align: center;
  padding: 0px 15px;
}

.main-nav li a:hover {
  text-decoration: none;
  color: rgb(26, 212, 150);
  border: 2px solid rgb(26, 212, 150);
  border-radius: 5px;
  box-sizing: border-box;
}

.kart {
  display: flex;
}

.kart p {
  width: 20px;
  height: 20px;
  font-size: 15px;
  align-items: center;
  text-align: center;
  margin-top: -15px;
  margin-left: -8px;
  margin-right: 50px;
  border: 2px solid rgba(255, 163, 5, 1);
  border-radius: 50%;
  background: rgb(255, 163, 5);
  color: #fff;
}

img {
  width: 20px;
  height: 20px;
}
</style>

