/*Roboto condensed la tupografia
color #3C475B de las letras
color botones: #03D0B6
color table: #3C475B
color dentro table: #838286
header 60px altura*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,0.9);
  padding: 0 10px;
  box-sizing: border-box;
}

nav img {
  width: 120px;
  height: 70px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  position: relative;
  display: block;
  padding: 0 10px;
  box-sizing: border-box;
  color: #3C475B;
  text-decoration: none;
  transition: 0.5s;
}

nav ul li a:hover {
  color:#3C475B;
}

nav ul li a:before {
  content:'';
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 10%;
  background: #03D0B6;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

nav ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-btn {
  display: flex;
  align-content: space-between;
  align-items: center;
  color: #3C475B;
  margin: 0 50px;
  box-sizing: border-box;
}

.btn {
  background-color: #03D0B6;
  color: #fff;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #03D0B6;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: transparent;
  color: #03D0B6;
  border: 2px solid #03D0B6;

}

.btn2 {
  width: 150px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  height: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.btn2:hover {
  background-color: #fff;
  color: #3C475B;
  border: 2px solid #fff;
}

.btn3{
  width: 150px;
  background-color: #fff;
  color: #03D0B6;
  border: 2px solid #03D0B6;
  height: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.btn3:hover {
  background-color: #03D0B6;
  color: #fff;
  border: 2px solid #03D0B6;
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

section.sec1 {
  background-image: url('./img/hero-actions.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.5;
  height:60vh;
  margin-top: 80px;
  display:flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

section.sec1 h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

section.sec1 h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

section.sec1 button {
  width: 200px;
  margin: 0 20px;
}

section.sec2 {
  background-image: url('./img/hero-home.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display:flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

section.sec2 h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

section.sec2 h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

section.sec3 {
  background-image: url('./img/hero-actions.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height:70vh;
  display:flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

section.sec3 h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

section.sec3 h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

section.sec3 button {
  width: 200px;
  margin: 0 20px;
}

section.secText {
  padding: 50px 100px;
  height: auto;
  display:flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

section.secText h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  color: #262626;
}
section.secText p {
  font-size: 18px;
}

.secBox {
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.secBoxReverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
}
.foot {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.copy {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

.imgfoot {
  width: 95px;
  height: 45px;
  padding: 3px;
}
.tabla {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 35px 55px; 
}
.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}